/* @override http://placekitten.site/assets/css/placekitten.css */

body {
  font-family: "Sans-serif";
}

/* @group Units */
.unit:after, .group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.unit, .group { display: inline-block; }
* html .unit, * html .group { height: 1%; }
.unit, .group { display: block; }
/* @end */

/* @group Skiplinks */
#skip-links {
	/* Hide, but not from screen-readers */ 
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
/* @end */
body {
	color: #42413b;
	font-size: 87.5%; /* 14px */
	line-height: 1.57; /* 22px */
	-webkit-font-smoothing: antialiased;
}
h1,h2,h3 {
	color: #3E3D38;
	font-weight: bold;
}
h4,h5,h6,h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong {
	color: #3E3D38;
}
#container {
	width: 824px;
	margin: 40px auto;
}
.amp {
	font-style: italic;
	line-height: 1%;
}
a {	
	color: #5b9300;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
}
a:visited {
	color: #3f6700;
}
a:hover {
	color: #7fcd00;
}
a:active {
	color: #76be00;
}
header {
	width: 408px;
	float: left;
}
header h1 {
	margin: 0 0 36px 0;
	color: #999;
}
#unit-kitten-content {
	width: 400px;
	padding-right: 8px;
	height: 582px;
	float: left;
	position: relative;
}
#image-0 {
	position: absolute;
	bottom: 0;
}
#footer {
	font-size: 85.714%; /* 12px */
	clear: both;
	margin-top: 16px;
	border-top: 1px solid #D6D6D6;
	padding: 12px 0;
}